
@{
    ViewData["Title"] = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Article</h2>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Tesla vendió un "coche autónomo completo" por 3000 dólares antes de tenerlo, la gran amenaza a la compañía.</h1>
        <p class="lead">1 Junio 2018 - Actualizado 3 Junio 2018, 10:46</p>
    </div>
</div>
<img src="wwwroot/images/Post images/tesla.jpg" class="blockquote">

