@{
    ViewData["Title"] = "Home Page";
}

@*tema 1*@
<div class="row mt-3">
    <div class="col">
        <img src="~/images/site Icons/procesor with border.png" class="mb-4 zoom"/>
        <h3 class="text-muted display-4 d-inline">Tecnologia:</h3>
</div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card shadow">
            <img class="card-img-top" src="~/images/Post images/tesla.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Tesla en problemas.</h5>
                <p class="card-text">Tesla está vendiendo algo que a día de hoy es mentira. No solo eso: es una mentira peligrosa...</p>
                <a href="#" class="btn d-block btn-outline-dark cuadrado">Leer Todo</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <img class="card-img-top" src="~/images/Post images/nuevos chips arm.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Arm tiene tres nuevos chips de 7nm.</h5>
                <p class="card-text">La próxima generación de smartphones se perfila a dar un salto enorme...</p>
                <a href="#" class="btn btn-block btn-outline-dark cuadrado">Leer Todo</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <img class="card-img-top" src="~/images/Post images/memorias ram.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nuevas ram de 512gb.</h5>
                <p class="card-text">La aplicación de la tecnología 3D XPoint de Intel y Micron prometía mejoras notables en ...</p>
                <a href="#" class="btn btn-block btn-outline-dark cuadrado">Leer Todo</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <img class="card-img-top" src="~/images/Post images/xiaomi.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Xiaomi mi 8 vs iPhone X</h5>
                <p class="card-text">El nuevo Xiaomi Mi 8 es una nueva amenaza para todas las marcas que quieren que su smartphone...</p>
                <a href="#" class="btn btn-block btn-outline-dark cuadrado">Leer Todo</a>
            </div>
        </div>
    </div>
</div>



@*tema 2*@
<div class="row mt-3">
    <div class="col">
        <img src="~/images/site Icons/telescopio.png" class="mb-4 zoom" />
        <h3 class="text-muted display-4 d-inline">Curiosidades:</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card shadow">
            <img class="card-img-top" src="~/images/Post images/curiosity/cosmos.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">ya es hora de que dejemos de usar los años luz para determinar distancias astronómicas.</h5>
                <p class="card-text">En un estudio publicado en Astronomy & Geophysics, Keith Atkin, profesor asociado retirado de física en la Universidad...</p>
                <a href="#" class="btn btn-block btn-outline-dark">Leer Todo</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <img class="card-img-top" src="~/images/Post images/curiosity/Girasoles.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Los girasoles de Van Gogh van a marchitarse.</h5>
                <p class="card-text">Un nuevo análisis muestra que la mitad del lienzo que se celebra en Amsterdam está pintado con pigmentos que se oscurecen con la exposición a la luz ultravioleta...</p>
                <a href="#" class="btn btn-block btn-outline-dark">Leer Todo</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <img class="card-img-top" src="~/images/Post images/curiosity/el cerebro.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">El cerebro crea estructuras neuronales con 11 dimensiones.</h5>
                <p class="card-text">Según ha manifestado Henry Markram, director del Blue Brain Project, el cerebro humano crea estructuras neuronales con hasta 11 dimensiones cuando procesa información...</p>
                <a href="#" class="btn btn-block btn-outline-dark">Leer Todo</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <img class="card-img-top" src="~/images/Post images/curiosity/demaciado ocupado.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Estar demasiado ocupado mata nuestra creatividad.</h5>
                <p class="card-text">Estar permanentemente ocupado quizá nos hace más productivos, pero no nos hace más creativos. Las mejores ideas pueden surgir, y de hecho surgen, en momentos...</p>
                <a href="#" class="btn btn-block btn-outline-dark">Leer Todo</a>
            </div>
        </div>
    </div>
</div>


@*tema 3*@
<div class="row mt-3">
    <div class="col">
        <img src="~/images/site Icons/gastronomia.png" class="mb-4 zoom" />
        <h3 class="text-muted display-4 d-inline">Gastronomia:</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card shadow">
            <img class="card-img-top" src="~/images/Post images/gastronomy/12_patatas_tradicionalesynu-254x214.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Doce recetas con patatas, tradicionales y nuevas creaciones.</h5>
                <p class="card-text">En el recopilatorio dominical de esta semana vais a encontrar doce recetas con patatas, tradicionales y nuevas creaciones. Seguro que todos conocéis las patatas a la riojana...</p>
                <a href="#" class="btn btn-block btn-outline-dark">Leer Todo</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <img class="card-img-top" src="~/images/Post images/gastronomy/rulo_cabra_piquillos1p-254x214.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Queso de cabra con pimientos del piquillo confitados.</h5>
                <p class="card-text">Uno de los matrimonios culinarios perfectos lo protagonizan el queso de cabra y los pimientos del piquillo, y hay muchas formas de presentar esta combinación...</p>
                <a href="#" class="btn btn-block btn-outline-dark">Leer Todo</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <img class="card-img-top" src="~/images/Post images/gastronomy/10ensaladas_salmonahumado-254x214.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">10 recetas de ensaladas con salmón ahumado para este verano</h5>
                <p class="card-text">Seguro que os vienen muy bien estas 10 recetas de ensaladas con salmón ahumado para este verano, para disfrutar de entrantes frescos, fáciles y rápidos de hacer,...</p>
                <a href="#" class="btn btn-block btn-outline-dark">Leer Todo</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <img class="card-img-top" src="~/images/Post images/gastronomy/porridge_acai_nispero2p-254x214.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Porridge de açai con albaricoques y coco.</h5>
                <p class="card-text">Como vamos variando las frutas que tomamos en nuestros desayunos saludables, hoy os traemos otra receta de gachas de avena o porridge, en esta ocasión...</p>
                <a href="#" class="btn btn-block btn-outline-dark">Leer Todo</a>
            </div>
        </div>
    </div>
</div>